/* Fond noir et texte en blanc pour tout le site */
html, body {
    height: 100%;
    margin: 0;
    background-color: #000000; /* Fond noir */
    color: #ffffff; /* Texte blanc */
    font-family: Arial, sans-serif; /* Police plus sobre */
    display: flex;
    flex-direction: column;
}

/* La container prend tout l'espace disponible */
.container {
    flex: 1; /* Laisse de l'espace pour le footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Style pour la bannière de navigation */
nav {
    background-color: #000000; /* Fond noir */
    padding: 10px 0; /* Espacement pour le confort visuel */
    position: fixed; /* Fixé en haut de la page */
    top: 0; /* Toujours en haut */
    width: 100%; /* Prend toute la largeur */
    z-index: 1000; /* Position devant le reste du contenu */
    text-align: right; /* Aligner le lien à droite */
}

nav a {
    color: #ffffff; /* Texte blanc pour le lien */
    margin-right: 20px; /* Espace du lien par rapport au bord droit */
    text-decoration: none; /* Supprimer la décoration du lien */
    font-size: 1.2em; /* Taille du texte du lien */
    font-weight: bold; /* Texte en gras pour plus de visibilité */
}

nav a:hover {
    color: #1e90ff; /* Changer la couleur lors du survol */
}

/* Style des titres */
.main-title {
    font-size: 1.6em;
    margin-bottom: 20px;
}

/* Style de la description */
.description {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #cccccc; /* Gris clair */
}

/* Les boutons sont alignés à gauche */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne les boutons à gauche */
    margin-left: 20px; /* Ajuster la marge si nécessaire */
}

/* Style des boutons */
.btn {
    background-color: #333333; /* Bouton gris foncé */
    color: white;
    padding: 15px 30px;
    margin: 10px;
    text-align: left; /* Alignement du texte à gauche pour correspondre au positionnement */
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    width: 200px;
    border: 1px solid #555555; /* Bordure gris clair */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1e90ff; /* Bouton bleu au survol */
}

/* Espace pour les graphiques */
.graph-space {
    margin-top: 20px;
}

/* Footer toujours en bas */
.footer {
    text-align: center;
    background-color: #000000;
    padding: 10px 0;
    color: #cccccc;
    font-size: 0.8em;
    position: relative;
    width: 100%;
}

.footer a {
    color: #cccccc;
    text-decoration: underline;
}

.footer a:hover {
    color: #ffffff;
}
