body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.main-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    width: 200px;
}

.btn:hover {
    background-color: #45a049;
}

.graph-space {
    margin-top: 20px;
}
