<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Titre{% endblock %}</title>
</head>
<body>
    <div class="container">
        <!-- Bouton Accueil en haut à droite -->
        <div class="home-button">
            <a href="{{ url_for('index') }}">🏠</a>
        </div>

        <!-- Titre principal -->
        <h1 class="main-title">{% block header %}Titre{% endblock %}</h1>
        <p class="description">{% block description %}Ceci est la description{% endblock %}</p>
        
        <!-- Contenu principal -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Footer standard -->
    <footer class="footer">
        {% block footer %}
        <p>Données fournies par <a href="https://developer.spotify.com/documentation/web-api/" target="_blank">Spotify API</a></p>
        {% endblock %}
    </footer>
</body>
</html>
