{% extends 'base.html' %}

{% block title %}Visualisation Répartition des Genres en Europe{% endblock %}
{% block header %}Visualisation Répartition des Genres en Europe{% endblock %}
{% block description %}Sélectionnez un genre musical pour afficher sa répartition en Europe{% endblock %}

{% block content %}
    <table style="width:100%; table-layout: fixed;">
        <tr>
            <!-- Colonne pour les boutons radio, alignée à gauche avec plus de padding -->
            <td align="left" style="vertical-align: top; width: 250px; padding: 10px 40px 10px 40px;">
                <form method="POST">
                    <h3>Choisissez un genre musical :</h3>
                    <div>
                        {% for genre in genres %}
                            <label><input type="radio" name="genre" value="{{ genre }}">{{ genre }}</label><br>
                        {% endfor %}
                    </div>
                    <button type="submit" style="margin-top: 10px;">Afficher la répartition</button>
                </form>
            </td>
            
            <!-- Colonne pour la carte Plotly -->
            <td style="vertical-align: top; padding: 20px;">
                {% if data_json %}
                    <div id="graph" style="width: 80vw; height: 60vh; background-color: black;"></div>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script type="text/javascript">
                        // Charger les données JSON depuis Flask
                        const data = {{ data_json | safe }};
                        
                        // Créer la carte avec Plotly
                        Plotly.newPlot('graph', data);
                    </script>
                {% endif %}
            </td>
        </tr>
    </table>

{% endblock %}

{% block footer %}
    <div class="data-source">
        <p>Données fournies par <a href="https://developer.spotify.com/documentation/web-api/" target="_blank">Spotify API</a></p>
    </div>
{% endblock %}

{% block styles %}
    <style>
        /* Styles pour la page */
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        table {
            width: 100%;
            margin-top: 20px;
        }

        td {
            padding: 10px;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        .data-source {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-size: 0.8em;
            color: #cccccc;
            padding: 10px 0;
            background-color: #000000;
        }

        .data-source a {
            color: #cccccc;
            text-decoration: underline;
        }

        .data-source a:hover {
            color: #ffffff;
        }
    </style>
{% endblock %}
