{% extends 'base.html' %}

{% block header %}Collaborations entre genres{% endblock %}



{% block description %}Sélectionnez un genre musical pour visualiser ses collaborations{% endblock %}

{% block content %}
    <table style="width:100%; table-layout: fixed;">
        <tr>
            <!-- Colonne pour les boutons alignée à gauche avec un peu plus de padding -->
            <td align="left" style="vertical-align: top; width: 250px; padding: 20px 30px;">
                <form method="POST">
                    <h3>Choisissez le genre musical qui vous intéresse :</h3>
                    <div>
                        {% for genre in genres %}
                            <label><input type="checkbox" name="genres" value="{{ genre }}">{{ genre }}</label><br>
                        {% endfor %}
                    </div>
                    <button type="submit" style="margin-top: 10px;">visualiser</button>
                </form>
            </td>
            
            <!-- Colonne pour le diagramme de collaborations -->
            <td style="vertical-align: top; padding: 20px;">
                {% if sankey %}
                    <div id="sankey-diagram">
                        {{ sankey|safe }}
                    </div>
                {% else %}
                    <p>Aucun diagramme de Sankey à afficher pour les genres sélectionnés.</p>
                {% endif %}
            </td>            
        </tr>
    </table>

    <!-- Affichage des 6 bar charts organisés en 2 lignes de 3 colonnes -->
    <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin-top: 30px;">
        {% for chart in bar_charts %}
            <div style="flex-basis: 30%; margin-bottom: 20px;">
                {{ chart|safe }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <div class="data-source">
        <p>Données fournies par <a href="https://developer.spotify.com/documentation/web-api/" target="_blank">Spotify API</a></p>
    </div>
{% endblock %}
