{% extends 'base.html' %}

{% block title %}Page 2{% endblock %}
{% block header %}
    <!-- Banière de navigation fine, centrée et très discrète -->
    <nav style="background-color: #000; padding: 3px 0; position: fixed; top: 0; width: 100%; z-index: 1000; text-align: center;">
        <a href="{{ url_for('index') }}" style="color: white; margin: 0 8px; text-decoration: none; font-size: 0.35em;">Retour Accueil</a>
    </nav>

    <!-- Ajouter un espace pour compenser la bannière fixe -->
    <div style="padding-top: 25px;">
        <h1>Titre de la Page 2</h1>
    </div>
{% endblock %}

{% block description %}Description de la Page 2{% endblock %}

{% block content %}
    <div class="graph-space">
        <p>Espace pour les graphiques</p>
    </div>
{% endblock %}
