{% extends 'base.html' %}

{% block header %}Visualisation du Nombre de Tracks par Genre{% endblock %}
{% block description %}Sélectionnez les genres musicaux pour créer un diagramme multilinéaire{% endblock %}

{% block content %}
    <table style="width:100%; table-layout: fixed;">
        <tr>
      
            <td align="left" style="vertical-align: top; width: 250px; padding: 10px 20px 10px 30px;">
                <form method="POST">
                    <h3>Choisissez les genres musicaux :</h3>
                    <div>
                        {% for genre in genres %}
                            <label><input type="checkbox" name="genres" value="{{ genre }}">{{ genre }}</label><br>
                        {% endfor %}
                    </div>
                    <button type="submit" style="margin-top: 10px;">Visualiser</button>
                </form>
            </td>
            
            <td style="vertical-align: top;">
                {% if chart %}
                    <div>
                        {{ chart|safe }}
                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}